@use "../../../../styles/mixins" as mixins;
$pokemonSize: 128px;

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{$pokemonSize}, 1fr));
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.pokemon-placeholder {
  height: #{$pokemonSize};
  width: #{$pokemonSize};
  border-radius: 5%;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;

  &.loading {
    background: rgba(255, 0, 0, 0.125);
  }
}

button {
  --pokemon-button-background-color: transparent;
  --pokemon-button-border-color: #ccccccee;
  border-radius: 1rem;
  background: var(--pokemon-button-background-color);
  border: 3px solid var(--pokemon-button-border-color);
  color: var(--pokemon-button-text-color);
  outline: 0 none;
  padding: 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);

  @include mixins.types-background(--pokemon-button);
}
