@let list = pokemonList$ | async;
@if (list) {
  @if (list.length === 0) {
    <p>Keine Pokemons gefunden.</p>
  } @else {
    <ul>
      @for (pokemon of list; track pokemon.id) {
        <li>
          <button
            [class]="pokemon.types.join(' ')"
            [routerLink]="['/', 'discover-pokemons', 'details', pokemon.name]"
          >
            @defer (on viewport) {
              <p>{{ pokemon.name | ucfirst }}</p>
              <p class="chips">
                @for (type of pokemon.types; track type) {
                  <span class="chip-text">{{ type | ucfirst }}</span>
                }
              </p>
              <app-pokemon-full-image [pokemon]="pokemon" size="72" />
              <p class="chips">
                <span class="chip-text"
                  >{{ pokemon.weight / 10 | round }} kg</span
                >
                <span class="chip-text"
                  >{{ pokemon.height * 10 | round }} cm</span
                >
              </p>
            } @placeholder (minimum 0) {
              <div class="pokemon-placeholder">
                <p>{{ pokemon.name | uppercase }}</p>
              </div>
            }
          </button>
        </li>
      }
    </ul>
    <p>Zeige {{ list.length }} Pokemons an.</p>
    <button
      (click)="loadMorePokemon()"
      (appObserveIntersection)="$event ? loadMorePokemon() : null"
    >
      Lade mehr
    </button>
  }
} @else {
  <p>Lade Pokemons ...</p>
}
