@let list = pokemonList$ | async;
@if (list) {
  @if (list.length === 0) {
    <p>Keine Pokemons gefunden.</p>
  } @else {
    <ul>
      @for (pokemon of list; track pokemon.id) {
        <li>
          <button
            [routerLink]="['/', 'discover-pokemons', 'details', pokemon.name]"
          >
            @defer (on viewport) {
              <app-pokemon-full-image [pokemon]="pokemon" size="64" />
            } @placeholder (minimum 0) {
              <div class="pokemon-placeholder">
                <p>{{ pokemon.name | uppercase }}</p>
              </div>
            }
          </button>
        </li>
      }
    </ul>
    <p>Zeige {{ list.length }} Pokemons an.</p>
    <button
      (click)="loadMorePokemon()"
      (appObserveIntersection)="$event ? loadMorePokemon() : null"
    >
      Lade mehr
    </button>
  }
} @else {
  <p>Lade Pokemons ...</p>
}
